:root {
  --women-bg: #fde2ff;
  --women-primary: #720060;
  --men-bg: #d6e6ff;
  --men-primary: #002772;
  --unav-bg: #dcdcdc;
  --text-primary: #1e1e1e;
  --text-secondary: #3f3f3f;
  --white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  position: relative;
}

.body-bg {
  background-color: var(--unav-bg);
  height: 100vh;
  padding: 12vh 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-bg.unav {
  background-color: var(--unav-bg);
}
.body-bg.men {
  background-color: var(--men-bg);
}
.body-bg.women {
  background-color: var(--women-bg);
}

.card {
  width: 1034px;
  height: 580px;
  margin: 0 auto;
  padding: 50px;
  background-color: var(--white);
  box-shadow: 2px 4px 21px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.card.unavailable {
  background-color: var(--white);
  background-image: url(../sad-face.svg);
  background-size: contain;
  background-position: center left 80px;
  background-repeat: no-repeat;
}

.card__image {
  width: auto;
  height: 383px;
}

.rate__flex,
.button__flex,
.main__flex {
  display: flex;
  justify-content: space-between;
}
.main__flex {
  height: 100%;
  flex-direction: column;
}

h1.title {
  font-weight: 600;
  font-size: 1.9rem;
  line-height: 1.3;
}

.men h1.title,
.men h2.price,
.men btn.btn-next {
  color: var(--men-primary);
}
.women h1.title,
.women h2.price,
.women btn.btn-next {
  color: var(--women-primary);
}

hr {
  margin: 12px 0;
  opacity: 0.4;
}

p.category,
p.rate {
  color: var(--text-secondary);
  font-size: 1.2rem;
}

p.desc {
  color: var(--text-primary);
  font-size: 1rem;
  line-height: 1.4;
}

h2.price {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 1.8rem;
}

button {
  width: 47%;
  height: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.men button.btn-buy,
.men button.btn-next:hover {
  background-color: var(--men-primary);
  color: var(--white);
}
.women button.btn-buy,
.women button.btn-next:hover {
  background-color: var(--women-primary);
  color: var(--white);
}
.men button.btn-next {
  background-color: var(--white);
  color: var(--men-primary);
  border: 3px solid var(--men-primary);
}
.women button.btn-next {
  background-color: var(--white);
  color: var(--women-primary);
  border: 3px solid var(--women-primary);
}

.unav-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.unavailable h2 {
  font-size: 1.3em;
}
.unavailable button {
  margin-top: 8px;
  background-color: var(--white);
  color: var(--text-primary);
  border: 3px solid var(--text-primary);
  font-size: 1.2em;
}

@media (min-width: 768px) {
  .card__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
  }
}
